<!-- Fragment to insert all CSS files on all our html pages. -->

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="A rental site for Motorhomes">

<!-- Title -->
<title>Nordic Motorhome Rental</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/floating-labels/">

<!-- Custom Stylesheet -->
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>



