<!-- Benjamin / Mohammad -->

<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <div th:replace="fragments/header_scripts"> </div>
</head>
<body>
<div th:replace="fragments/top_menu"> </div>
<div class="container">

    <h1>Add Customer</h1>
    <!-- Form to handle all the input data from the user -->
    <form action="/createCustomer" method="post">
        <div class="form-group">
            <p>First Name:</p>
            <input type="text" name="fName" class="form-control" placeholder="Please enter first name" required>
        </div>

        <div class="form-group">
            <p>Last Name:</p>
            <input type="text" name="lName" class="form-control" placeholder="Please enter last name" required>
        </div>

        <div class="form-group">
            <p>Address:</p>
            <input type="text" name="Address" class="form-control" placeholder="Please enter address" required>
        </div>

        <div class="form-group">
            <p>Phone Number:</p>
            <input type="number" name="phone_number" class="form-control" placeholder="Please enter phone number" required>
        </div>

        <div class="form-group">
            <p>Email:</p>
            <input type="email" name="email" class="form-control" placeholder="Please enter email" required>
        </div>

        <div class="form-group">
            <p>Driver's license</p>
            <input type="text" name="driverlicense" class="form-control" placeholder="Please enter driver's license" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>

<div th:replace="fragments/bottom_scripts"> </div>

</body>
</html>