<!-- Benjamin / Theis -->

<!-- Benjamin / Theis -->

<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link   rel="stylesheet" href="../main.css">

    <title>Hello, world!</title>
</head>
<body>
<div th:replace="fragments/top_menu"> </div>
<div class="container">

    <h1>Add motorhome</h1>
    <form action="/create" method="post">
        <div class="form-group">
            <p>Model:</p>
            <input type="text" name="model" class="form-control" placeholder="Please enter model" required>
        </div>

        <div class="form-group">
            <p>Brand:</p>
            <input type="text" name="brand" class="form-control" placeholder="Please enter brand" required>
        </div>

        <div class="form-group">
            <p>Year of manufacture:</p>
            <input type="number" name="yearOfManufacture" class="form-control" placeholder="Please enter year of manufacture" required>
        </div>

        <div class="form-group">
            <p>Year of purchase:</p>
            <input type="number" name="yearOfPurchase" class="form-control" placeholder="Please enter year of purchase" required>
        </div>

        <div class="form-group">
            <p>Number of sleeping spots:</p>
            <input type="number" name="sleepingSpots" class="form-control" placeholder="Please enter amount of sleeping spots" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>

<div th:replace="fragments/bottom_scripts"> </div>

</body>
</html>