<!-- Benjamin / Frederik -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <div th:replace="fragments/header_scripts"> </div>
</head>
<body>
<div th:replace="fragments/top_menu"> </div>
<div class="container">

    <h1>Create rental</h1>
    <!-- Form to handle all the input data from the user -->
    <form action="/create_rental" method="post">
        <div class="form-group">
            <p>Date of reservation</p>
            <input type="date" name="reservationDate" class="form-control" placeholder="YYYY-MM-DD" required>
        </div>

        <div class="form-group">
            <p>Start date of the rental</p>
            <input type="date" name="startDate" class="form-control" placeholder="YYYY-MM-DD" required>
        </div>

        <div class="form-group">
            <p>End date of the rental</p>
            <input type="date" name="endDate" class="form-control" placeholder="YYYY-MM-DD" required>
        </div>

        <div class="form-group">
            <p>Car ID</p>
            <input type="number" name="reservedCar" class="form-control" placeholder="Please enter the ID of the car you want to rental" required>
        </div>

        <div class="form-group">
            <p>Customer ID</p>
            <input type="number" name="customer" class="form-control" placeholder="Please enter the customer ID" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div th:replace="fragments/bottom_scripts"> </div>

</div>
</body>
</html>