<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header_scripts"> </div>
    <title>Hello, world!</title>
</head>
<body>
<div th:replace="fragments/top_menu"> </div>
<div class="container" >
    <h1> Update </h1>
    <form action="/update" method="post">
        <input type="hidden" name="idCars" th:value="${car.idCars}">
        <div class="form-group">
            <p>First Name:</p>
            <input type="text" name="model" th:value="${car.model}" class="form-control">
        </div>
        <div class="form-group">
            <p>Last Name:</p>
            <input type="text" name="brand" th:value="${car.brand}" class="form-control">
        </div>
        <div class="form-group">
            <p>:</p>Year of Manufacture
            <input type="text" name="yearOfManufacture" th:value="${car.yearOfManufacture}" class="form-control">
        </div>
        <div class="form-group">
            <p>CPR:</p>
            <input type="text" name="yearOfPurchase" th:value="${car.yearOfPurchase}" class="form-control">
        </div>
        <div class="form-group">
            <p>First Name:</p>
            <input type="text" name="sleepingSpots" th:value="${car.sleepingSpots}" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>
<div th:replace="fragments/bottom_scripts">
</div>
</div>
</body>
</html>