<!-- Benjamin / Frederik -->

<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <div th:replace="fragments/header_scripts"> </div>
    <title>Nordic Motorhome Rental</title>
</head>
<body>
<div th:replace="fragments/top_menu"> </div>
<div class="container" >
    <h1> Update </h1>
    <!-- Form which loads in the values from the database and make it possible for the user to change-->
    <form action="/update_rental" method="post">
        <input type="hidden" name="id" th:value="${order.id}">
        <div class="form-group">
            <p>Date of reservation:</p>
            <input type="date" name="reservationDate" th:value="${order.reservationDate}" class="form-control" required>
        </div>
        <div class="form-group">
            <p>Start date:</p>
            <input type="date" name="startDate" th:value="${order.startDate}" class="form-control" required>
        </div>
        <div class="form-group">
            <p>End date:</p>
            <input type="date" name="EndDate" th:value="${order.endDate}" class="form-control" required>
        </div>
        <div class="form-group">
            <p>Car ID:</p>
            <input type="number" name="reservedCar" th:value="${order.reservedCar}" class="form-control" required>
        </div>
        <div class="form-group">
            <p>Customer ID:</p>
            <input type="number" name="customer" th:value="${order.customer}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>
<div th:replace="fragments/bottom_scripts">
</div>
</div>
</body>
</html>